.App {
   text-align: center;
   display: flex;
   height: 100vh;
   justify-content: center;
   padding: 20px;
}

ul {
   list-style: none;
}
ul > li {
   height: 80px;
   border: 1px solid #e7e7ee;
   border-radius: 8px;
   padding: 8px;
   box-sizing: border-box;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
}
.thumb {
   width: 40;
   height: 40px;
}
.thumb > img {
   object-fit: scale-down;
   width: 100%;
   height: 100%;
}
.name {
   margin-left: 20px;
}

::-webkit-scrollbar {
   width: 4px;
}
