<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91251404165-mu0ljg7gttlqe0b8qbn8gv9jqit8hqe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91251404165-mu0ljg7gttlqe0b8qbn8gv9jqit8hqe8</string>
	<key>API_KEY</key>
	<string>AIzaSyAd_CC3P-KTp1nQxVsJnfRJBNrN8GBFga0</string>
	<key>GCM_SENDER_ID</key>
	<string>91251404165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googlesnapp</string>
	<key>PROJECT_ID</key>
	<string>myloginapp-e7e25</string>
	<key>STORAGE_BUCKET</key>
	<string>myloginapp-e7e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91251404165:ios:ad5a1312db26204f9528ec</string>
</dict>
</plist>