.flex {
   display: flex;
   /* flex-direction: row;
   flex-wrap: wrap-reverse; */
   flex-flow: row wrap;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   background-image: radial-gradient(purple, red);
   margin: 8px;
   color: #fff;
   font-size: 24px;
}

.growItem {
   flex-grow: 3;
}
.growItem1 {
   flex-grow: 2;
}
.growItem2 {
   flex-grow: 1;
}
.shrinkItem {
   flex-shrink: 5;
}
.shrinkItem2 {
   flex-shrink: 2;
}
.flex1 {
   flex: 1 1 auto;
}
